.logo-icon {
  font-size: 32px;
  color: white;
}

.nav-link {
  transform: scale(1, 0.9);
  font-weight: bold;
  color: white;
  margin: 0 10px 0 10px;
  letter-spacing: 0.01px;
}

.nav-icon {
  margin: 0 20px 0 20px;
}

.nav-bi-icon {
  color: white;
  font-size: 26px;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 3px;
}

.navbar-vertical-separator {
  width: 1px;
  height: 28px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease;
}