.logo-icon {
  font-size: 28px;
  color: white;
}

.icon-hover {
  &:hover {
    color: #a6a6a6;
    transition: 0.2s;
  }
}

.nav-link {
  transform: scale(1, 0.9);
  font-weight: bold;
  color: white;
  margin: 0 5px 0 5px;
  letter-spacing: 0.01px;

  &:focus {
    color: white;
  }
}

.nav-header-link {
  font-size: 15px;
  line-height: 18px;
  transition: all 0.2s ease;
  border-bottom: 1px solid transparent;
  margin: 0 5px 0 5px;
  white-space: nowrap;
}

.nav-icon {
  margin: 0 20px 0 20px;
}

.nav-bi-icon {
  color: white;
  font-size: 26px;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
  text-underline-offset: 3px;
}

.navbar-vertical-separator {
  width: 1px;
  height: 28px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.2s ease;
}